body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    
  }
  
  h1 {
    margin-top: 25%;
    text-align: center;
    color: #022B3A;
    font-family: Josefin Sans;
    padding: auto;
    
    
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
